@{
    ViewData["Title"] = "Panel Admina";
}

<div class="container mt-5">
    <h1>Panel Admina</h1>
    <p>Witaj w panelu Admina!</p>
    <a href="@Url.Action("ManageWorkers", "Admin")" class="btn btn-primary">Zarządzaj pracownikami</a>
    <a href="@Url.Action("ViewLogs", "Admin")" class="btn btn-secondary">Pokaż logi</a>
</div>
