@{
    ViewData["Title"] = "Panel Pracownika";
}

<div class="container mt-5">
    <h1>Panel Pracownika</h1>
    <p>Witaj w panelu Pracownika</p>
    <a href="@Url.Action("ManageProducts", "Worker")" class="btn btn-primary">Zarządzaj produktami</a>
</div>
